html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #ffeeaa;
  margin: 0;
  padding: 0;
  text-align: center;
}

canvas {
  background-color: #dddddd;
  max-width: 100vw;
  max-height: 100vh;
  line-height: 0
}
