/* colors: lospec BLK NEO Palette */
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #c37289;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: white;
  font-size: 4vh;
  font-family: 'Varela Round', sans-serif;
}

canvas {
  max-height: 100vh;
  line-height: 0;
}

p {
  font-size: 3vh;
}

input[type='text'] {
  background: transparent;
  color: white;
  border: 2px solid white;
  font-size: 3vh;
  text-align: center;
}

[v-cloak] {
  display: none;
}

#game {
  pointer-events: none;
}

.button {
  background: #a52639;
  color: #ff6eaf;
  font-size: 1.2rem;
  border: none;
  border-radius: 1em;
  padding: 0.5em 5%;
  margin: 0.5em;
  font-size: 3vh;
  font-family: 'Varela Round', sans-serif;
  cursor: pointer;
  pointer-events: auto;
}

.button:hover {
  background: #ff6675;
  color: #ffa5d5;
}

.button:disabled {
  background: #723352;
  color: #3f1f3c;
  cursor: not-allowed;
}

.primary {
  background: #00000099;
}

.level-select {
  box-sizing: border-box;
  width: 25%;
  padding: 2%;
}

.level-select .button {
  margin: 0;
}

.save-code .button {
  width: 21%;
  box-sizing: border-box;
  margin: 2%;
  border-radius: .5em;
}

.save-code .button.full-width {
  width: 96%;
}

.yuu-i-wrapper {
  width: 0;
  height: 100vh;
  padding-right: 56.25vh;
  position: relative;
}

.yuu-i {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.centre {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.top {
  top: 30%;
}

.left {
  left: 5%;
}

.right {
  left: auto;
  right: 5%;
  text-align: right;
}

.full-width {
  width: 100%;
}

.padded {
  box-sizing: border-box;
  padding: 5%;
}

.expand {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.locked {
  filter: grayscale(80%);
}

.unclickable {
  pointer-events: none;
}

.image-costume {
  max-height: 15vh;
  background: #ff6eaf;
  border-radius: 1em;
  padding: 1em;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
  opacity: 1;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}