<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link href="crossyuu-style.css" rel="stylesheet" />
    <link href="magic.min.css" rel="stylesheet" />
    <title>🚗 Crossyuu Road</title>
  </head>

  <body>
    <div class="yuu-i-wrapper" :style="iOSHeight">
      <canvas id="crossyuu-canvas" width="540" height="960">
        It looks like your browser doesn't support canvas.
      </canvas>
      <div id="touch-events" class="yuu-i container full-width">
      </div>
      <div v-cloak id="game">
        <div
          v-show="state!=states.titleScreen"
          class="yuu-i container full-width"
        >
          <p class="yuu-i right">Coins: {{ coins }}</p>
        </div>
        <div v-show="state==states.titleScreen">
          <div class="yuu-i vertical container">
            <img src="spr/title_screen.jpg" class="yuu-i full-width">
            <div class="yuu-i top centre full-width">
              <h1>CROSSYUU ROAD</h1>
              <button class="button" @click="mainMenu">Play</button>
            </div>
          </div>
        </div>
        <div v-show="state==states.saveCode">
          <div class="yuu-i container full-width primary">
            <button class="yuu-i button left" @click="openShop">Back</button>
            <p class="yuu-i right">Current Code: {{ currentSave }}</p>
            <div class="yuu-i centre full-width padded">
              <p>Save codes let you load your costumes in other browsers or in a private window.</p>
              <p style="display: inline-block">Enter save code:</p>
              <input
                type="text"
                size="3"
                maxlength="3"
                focused
                v-model="savecode"
                @keyup.enter="loadSave()"
              />
              <p v-if="error!=''">{{ error }}</p>
              <div class="container flex-wrap save-code padded">
                <button
                  v-for="i in 10"
                  class="button"
                  @click="addToSaveCode(i - 1)"
                >
                  {{ i - 1 }}
                </button>
                <button
                  v-for="l in 'ABCDEF'"
                  class="button"
                  @click="addToSaveCode(l)"
                >
                  {{ l }}
                </button>
                <button class="button full-width" @click="loadSave()">
                  Enter
                </button>
              </div>
            </div>
          </div>
        </div>
        <div v-show="state==states.mainMenu">
          <div class="yuu-i container">
            <div class="yuu-i top centre full-width padded">
              <div v-if="lastLevel!=null">
                <button class="button" @click="startLevel(lastLevel)">
                  Restart Level
                </button>
              </div>
              <button class="button" @click="levelSelect">Level Select</button>
              <button class="button" @click="openShop">Costumes</button>
            </div>
          </div>
        </div>
        <div v-show="state==states.levelEnd">
          <div class="yuu-i vertical container">
            <div class="yuu-i top centre full-width">
              <h1 class="magictime spaceInUp">You win!</h1>
              <button class="button" @click="startLevel(lastLevel+1)">
                Continue
              </button>
              <button class="button" @click="mainMenu">Menu</button>
            </div>
          </div>
        </div>
        <div v-show="state==states.gameEnd">
          <div class="yuu-i vertical container primary">
            <div class="yuu-i top centre full-width">
              <h1 class="magictime puffIn">You beat the game!</h1>
              <h3 class="magictime puffIn">
                You've unlocked the Seraph Yuu costume!
              </h3>
              <button class="button" @click="mainMenu">Menu</button>
            </div>
          </div>
        </div>
        <div v-show="state==states.levelSelect">
          <button class="yuu-i button" @click="mainMenu">Back</button>
          <div class="yuu-i top centre full-width padded">
            <div class="container flex-wrap">
              <div v-for="map, index of maps" class="level-select">
                <button
                  class="button full-width magictime swashIn"
                  @click="startLevel(index)"
                  :disabled="index > levelsUnlocked"
                >
                  {{ index + 1 }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <transition name="fade">
          <div v-show="state==states.costumes">
            <div class="yuu-i vertical container padded primary full-width">
              <h4 style="margin-top:2.5rem">Costumes</h4>
              <div class="horizontal container">
                <button class="button" @click="viewCostume(-1)"><</button>
                <div class="expand">
                  <div class="yuu-i centre">
                    <transition
                      mode="out-in"
                      :enter-active-class="cardSwapEnter"
                      :leave-active-class="cardSwapLeave"
                    >
                      <div :key="costume.name">
                        <h4>{{ costume.name }}</h4>
                        <img
                          :src="'spr/' + costume.spr + '.png'"
                          :class="{ locked: !costume.unlocked }"
                          class="image-costume"
                        />
                        <p v-if="costume.unlocked">{{ costume.desc }}</p>
                        <button
                          v-if="costume.unlocked"
                          class="button"
                          :disabled="costume.name==usingCostume"
                          @click="selectCostume()"
                        >
                          {{
                            costume.name == usingCostume ? 'Selected' : 'Select'
                          }}
                        </button>
                        <button
                          v-else-if="costume.price"
                          class="button"
                          :disabled="coins < costume.price"
                          @click="unlock(costume)"
                        >
                          Unlock ({{ costume.price }})
                        </button>
                        <p v-if="costume.unlocked">{{ costume.effect }}</p>
                        <p v-else>Effect unknown</p>
                      </div>
                    </transition>
                  </div>
                </div>
                <button class="button" @click="viewCostume(1)">></button>
              </div>
            </div>
            <button class="yuu-i button left" @click="mainMenu">Back</button>
            <button class="yuu-i button right" @click="saveCode">Save Code</button>
          </div>
        </transition>
      </div>
    </div>

    <script src="crossyuu-help.js"></script>
    <script src="crossyuu-data.js"></script>
    <script src="crossyuu-objs.js"></script>
    <script src="crossyuu-main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="crossyuu-yuui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zingtouch/1.0.6/zingtouch.min.js"></script>
    <script src="crossyuu-zing.js"></script>
  </body>
</html>
